node-red-contrib-c8y-client/examples/backend endpoint flow.json
[
    {
        "id": "fb510c6f.29ea58",
        "type": "tab",
        "label": "Backend",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f0e57985.6c85c8",
        "type": "function",
        "z": "fb510c6f.29ea58",
        "name": "build forbidden response",
        "func": "msg.statusCode = 403;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 60,
        "wires": [
            [
                "bd33f56b.600a48"
            ]
        ]
    },
    {
        "id": "e9f28839.d83228",
        "type": "http in",
        "z": "fb510c6f.29ea58",
        "name": "",
        "url": "/public/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "ff18ba5d.87403"
            ]
        ]
    },
    {
        "id": "bdd36ada.d2bd68",
        "type": "function",
        "z": "fb510c6f.29ea58",
        "name": "map response",
        "func": "msg.headers = {\"content-type\": \"application/json\"};\nmsg.payload = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "bd33f56b.600a48",
                "7a281702.7da9d"
            ]
        ]
    },
    {
        "id": "72f229ee.d7666",
        "type": "http-auth",
        "z": "fb510c6f.29ea58",
        "name": "",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "cf54dc4f.b610f"
            ]
        ]
    },
    {
        "id": "7a281702.7da9d",
        "type": "debug",
        "z": "fb510c6f.29ea58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 300,
        "wires": []
    },
    {
        "id": "bd33f56b.600a48",
        "type": "http response",
        "z": "fb510c6f.29ea58",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "ff18ba5d.87403",
        "type": "check-roles",
        "z": "fb510c6f.29ea58",
        "name": "",
        "roles": "[\"ROLE_INVENTORY_READ\"]",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "72f229ee.d7666"
            ],
            [
                "f0e57985.6c85c8"
            ],
            []
        ]
    },
    {
        "id": "cf54dc4f.b610f",
        "type": "http request",
        "z": "fb510c6f.29ea58",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://psfactory.eu-latest.cumulocity.com/inventory/managedObjects",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "bdd36ada.d2bd68"
            ]
        ]
    }
]